*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#gameBoard {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.info_user {
    text-align: center;
    margin-bottom: 20px;
}

.info_user h1 {
    color: #333;
    margin-bottom: 15px;
}

.info_user input[type="text"] {
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Button styling for selecting the board size */
.size {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #5C85AD;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.size:hover {
    background-color: #3e637e;
}

/* Special styling for the start game button */
#startGame {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #44c767;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 50%;
    margin: 20px auto;
}

#startGame:hover {
    background-color: #36a64f;
}

/* Styling for the div that holds the size buttons */
#sizes {
    margin-bottom: 20px;
}

.size[checked="checked"] {
    background-color: #FFD700; /* Gold background for selected button */
    color: #000; /* Black text for contrast */
}

div#gameBoard.startGame {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.cell{
    flex:1;
    margin:1px;
}

img {
    min-width: 100%;
    min-height: 100%;
}

.flipper {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    overflow: hidden;
}

.front {
    background-color: #ddd;
}

.back {
    background-color: #f90;
    transform: rotateY(180deg);
}

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}